/*  EVENTS LIST
------------------------- */

.main-content.events-index {
	border-top-color: $cyan;

	.section-marker,
	.filter-sidebar {
		background: $cyan;
		}


	.filter-sidebar {

		a {
			&.active,
			&:hover {
				$base-color: $cyan;
			    background: lighten($base-color, 20%);
				}
			}
		
		}
	}



// Hide These
.tribe-bar-views-select,
.tribe-bar-views-inner label {
	display: none;
	}

// Event Filters
#tribe-bar-form {
	margin-top: 20px;
	}

#tribe-bar-collapse-toggle {
	font: 400 26px/1.4 $roboto-cond;
	letter-spacing: -.5px;
	margin-bottom: 5px;
	}

#tribe-bar-views {
	display: inline-block;
	width: 190px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;

	.tribe-bar-views-list .tribe-bar-views-option {
		display: inline-block;

		a {
			display: inline-block;
			width: 95px;
			height: 30px;
			float: left;
			text-align: center;
			padding-top: 50px; // align text to bottom
			margin-left: 0;
			//background: $cyan;
			font: 700 13px/1.4 $roboto-reg;
			text-transform: uppercase;
			color: white;
			border: none;
			box-shadow:none;
			outline:none;
			vertical-align: bottom;
			transition: background-color .2s;
	
			&.active-view,
			&:hover {
				background-color: $mint;
				}
			}

		&.tribe-bar-views-option-list a {
			background: $lt-grey url(../images/layout/grid_view.svg) no-repeat center 3px;
			background-size: 80% auto;
			}

		&.tribe-bar-views-option-month a {
			background: $lt-grey url(../images/layout/calendar_view.svg) no-repeat center 10px;
			background-size: 45% auto;
			}

		&.tribe-bar-active a {
			background-color: $cyan;
			}

		}
	}

.tribe-bar-filters {
	background: $lt-grey;
	padding: 20px;
	}

#tribe-bar-dates,
.tribe-bar-search-filter,
.tribe-bar-geoloc-filter {
	//border: 1px solid red;
	display: inline-block;
	float: left;

	label {
		position: relative;
		top: 3px;
		}

	input[type='text'] {
		//width: 55%;
		border: 1px solid $cyan;
		margin-left: 6px;
	  }
	}

#tribe-bar-dates {
	width: 22%;
	}

.tribe-bar-search-filter,
.tribe-bar-geoloc-filter {
	width: 32%;

	input[type='text'] {
		width: 60%;
		border: 1px solid $cyan;
		margin-left: 6px;
	  }

	}

#tribe-bar-date {
	width: 80px;
	margin-left: 15px;
	}

.tribe-events-button {
  height: 32px;
  border: 2px solid $cyan;
  padding: 6px 20px 4px 20px;
  margin: 0;
  background: $cyan; 
  font: 700 13px/1.4 $roboto-reg;
  color: white;
  text-transform: uppercase;
  text-align: left;
  transition: background .2s, color .2s;

  &:hover {
    color: $cyan;
    background: none;
    }
  }

#tribe-events-content {
	margin: 20px 0;

	h2.tribe-events-page-title {
	 	text-align: left;
		 }
	}

.tribe-events-back {
	display: none;

	a {
		color: $cyan;
		transition: color .2s;

		&:hover 
		{color: $magenta;}
		}
	}

.tribe-events-sub-nav {
	text-align: left !important;
	
	a {
		@extend p;
		color: $cyan;
		transition: color .2s;

	&:hover {color: $magenta;}
		}
	}

#tribe-events-header {
	.tribe-events-sub-nav {
		display: none;
		}
	}

#tribe-events-footer {
	clear: both;
	}


// Calendar View
.tribe-events-calendar {
	thead {
		background: $md-grey;
		color: white;

		tr {
			th {
				padding: 10px 0;
				font: 600 14px/1.4 $roboto-reg;

				}
			}
		
		}

	}

.tribe-events-othermonth {
	opacity: .5;
	}

.tribe-events-month-event-title {
	padding: 0 8px;
	text-transform: none;
	font-size: 14px;

	a {
		color: $cyan;
		font-size: 100% !important;
		transition: color .2s;

		&:hover {
			color: $magenta;
			}
		}
	}

// Grid/List View

// Hide Page Title on Events List/Grid page
.tribe-events-list {
	h2.tribe-events-page-title {display: none;}
	}


.tribe-events-loop {
	clear: none !important;

	.type-tribe_events {
		display: inline-block;
		border-top-color: $cyan;
		@extend h5;
		color: $cyan;
		padding-top: 10px;

		&.tribe-events-first {
			padding-top: 10px !important;
			}
		}

	.tribe-events-event-image {
		figure {
			max-height: 250px;
			overflow: hidden;
			}

		figcaption {display: none;}

		img {
			width: 100%;
			height: auto;

			&:hover {
				opacity: .85;
				}
			}
		}
	}

.recurringinfo {
	display: none !important;
	}

.tribe-event-date-start {
	padding-top: 10px;
	}

.tribe-events-list-event-title {
	margin: 2px 0 10px 0 !important;
	text-transform: none;
	
	a {color: inherit;}

	}


/* EVENTS DETAIL PAGE
------------------------- */

.event-summary-section {
	margin: 30px 0;
	
	.tribe-events-event-image {
		width: 45%;
		float: left;
		margin-right: 2.5%;

		a {
		    display: inline-block;
		    width: 100%;
			}

		figure {
			width: 100%;
			}

		figcaption {display: none;}

		img {
		    width: 100%;
		    height: auto;
			}
		}
	}

.tribe-events-single-event-description {
	width: 50%;
	float: right;
	}

.tribe-events-cal-links {
	width: 50%;
	float: right;
	display: inline-block;

	.tribe-events-button {
		margin-right: 2.5%;
		}
	}

.event-details-section {
	position: relative;
	margin-top: 0;

	h2 {
		margin-bottom: 10px;
		}

	h3 {
		font: 700 17px/1.4 $roboto-cond;
		text-transform: none;
		}

	.tribe-events-venue-details { 
			@extend p;

		a {
			color: inherit;
			transition: color .2s; 

			&:hover {
				color: $magenta;
				}
			}

		.tribe-address {
			display: block;
			}
		}

	.tribe-event-schedule-details,
	.tribe-events-meta-group-venue,
	.tribe-events-event-cost {
		@extend p;
		}

	.tribe-events-meta-group-venue {
		dt {display: none;}

		a {
			color: $magenta;
			border-bottom: 1px solid rgba($magenta,0);
			transition: border-bottom-color .2s;

			&:hover {
				border-bottom-color: $magenta;
				}
			}
		}

	.tribe-venue-tel {
		margin-top: 10px;
		}

	}

.tribe-address {
	font-style: normal;
	}

.tribe-events-event-meta {
	width: 30%;
	padding: 20px 2.5% 0 0;

		&:first-child {
			border-top: none !important;
			margin-top: -75px;
			}
	}

.tribe-events-meta-group-details {
	@extend p;
	margin-bottom: 0;

	a {
		color: $magenta;
		border-bottom: 1px solid rgba($magenta,0);
		transition: border-bottom-color .2s;

		&:hover {
			border-bottom-color: $magenta;
			}
		}	

	dt {
		@extend h3;
		margin: 20px 0 0 0;
		}
	
	dl {
		display: inline-block;
		width: 100%;
		padding: 20px 0 0 0;
		margin-top: -100px;
		background: white;
		}
	}

.tribe-events-meta-group-organizer {
	display: none;
	}

.tribe-events-venue-map {
	width: 65%;
	height: 300px;
	background: #aaa;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	}