/*  EVENTS LIST
------------------------- */

.main-content.events-index-page,
.main-content.event-detail-page {
	border-top-color: $cyan;

	.section-marker,
	.filter-sidebar {
		background: $cyan;
		}

	.section-marker {
		border: 2px solid $cyan;
		transition: background .2s, color .2s;

		&:hover {
			color: $cyan;
			background: white;
			}
		}


	.filter-sidebar {
		display: none;

		a {
			&:hover {
				$base-color: $cyan;
			    background: lighten($base-color, 20%);
			    color: darken($base-color, 25%);
				}
			}

		.current-menu-item {
			a {
				$base-color: $cyan;
			    background: lighten($base-color, 15%);
			    color: darken($base-color, 25%);
				}
			}
		
		}
	}

// Hide These
.tribe-bar-views-select,
.tribe-bar-views-inner label,
.tribe-events-cal-links,
.tribe-events-ical,
.events-index-page .events-index-link  {
	display: none !important;
	}


// Event Filters
#tribe-bar-form {
	margin-top: 20px;
	}

#tribe-bar-collapse-toggle {
	font: 400 26px/1.4 $roboto-cond;
	letter-spacing: -.5px;
	margin-bottom: 5px;
	}

#tribe-bar-views {
	display: inline-block;
	width: 190px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;

	.tribe-bar-views-list .tribe-bar-views-option {
		display: inline-block;

		a {
			display: inline-block;
			width: 95px;
			height: 30px;
			float: left;
			text-align: center;
			padding-top: 50px; // align text to bottom
			margin-left: 0;
			font: 700 13px/1.4 $roboto-reg;
			text-transform: uppercase;
			color: white;
			border: none;
			box-shadow:none;
			outline:none;
			vertical-align: bottom;
			transition: background-color .2s;
	
			&.active-view,
			&:hover {
				background-color: $cyan;
				}
			}

		&.tribe-bar-views-option-list a {
			background: $lt-grey url(../images/layout/grid_view.svg) no-repeat center 3px;
			background-size: 80% auto;

			&:hover {
				background-color: $cyan;
				}
			}

		&.tribe-bar-views-option-month a {
			background: $lt-grey url(../images/layout/calendar_view.svg) no-repeat center 10px;
			background-size: 45% auto;

			&:hover {
				background-color: $cyan;
				}
			}

		&.tribe-bar-active a {
			background-color: $cyan;
			}

		}
	}

.tribe-bar-filters {
	background: $lt-grey;
	padding: 20px 20px 14px 20px;
	}

#tribe-bar-dates,
.tribe-bar-search-filter,
.tribe-bar-geoloc-filter {
	display: inline-block;
	float: left;

	label {
		display: inline-block;
		min-width: 22%;
		height: 30px;
		position: relative;
		}

	input[type='text'] {
		//width: 55%;
		border: 1px solid $cyan;
		margin-left: 6px;
	  }
	}

.tribe-bar-search-filter,
.tribe-bar-geoloc-filter,
.tribe-bar-date-filter {
	display: block;
	width: 26%;
	height: 50px;
	float: left;

	input[type='text'] {
		width: 60%;
		border: 1px solid $cyan;
		margin-left: 6px;
	  }

	}

#tribe-bar-date {
	width: 50%;
	margin-left: 15px;
	}

.tribe-bar-submit {
	display: inline-block;
	width: 20%;
	float: right;
	text-align: center;

	input[type="submit"] {
		margin: 0;
		}
	}

.tribe-events-button {
  height: 40px;
  border: 2px solid $cyan;
  padding: 6px 20px 4px 20px;
  margin: 0;
  background: $cyan; 
  font: 700 13px/1.4 $roboto-reg;
  color: white;
  text-transform: uppercase;
  text-align: left;
  transition: background .2s, color .2s;

  &:hover {
    color: $cyan;
    background: none;
    }
  }

 .clear-filters {
 	display: inline-block;
 	color: rgba($md-grey, .5);
 	text-align: left;
 	padding: 0 15px;
 	transition: color .2s;

 	i {font-size:18px;}

 	&:hover {
	 	color: rgba($md-grey, 1);
	 	}
 	}

#tribe-events-content {
	margin: 20px 0;

	h2.tribe-events-page-title {
	 	text-align: left;
		 }
	}

.tribe-events-back {
	display: none;

	a {
		color: $cyan;
		transition: color .2s;

		&:hover 
		{color: $magenta;}
		}
	}

.tribe-events-sub-nav {
	text-align: left !important;
	
	a {
		@extend p;
		color: $cyan;
		transition: color .2s;

	&:hover {color: $magenta;}
		}
	}

#tribe-events-header {
	.tribe-events-sub-nav {
		display: none;
		}
	}

#tribe-events-footer {
	clear: both;
	}


// Calendar (Month) View
.month-view-styles {
	}

.tribe-events-calendar {
	thead {
		background: $md-grey;
		color: white;

		tr {
			th {
				padding: 10px 0;
				font: 600 14px/1.4 $roboto-reg;

				}
			}
		
		}

	}

.tribe-events-othermonth {
	opacity: .5;
	}

.tribe-events-month-event-title {
	padding: 0 8px;
	text-transform: none;
	font-size: 14px;

	a {
		color: $cyan;
		font-size: 100% !important;
		transition: color .2s;

		&:hover {
			color: $magenta;
			}
		}
	}

// Grid/List View

.list-view-styles {

	.filter-sidebar {
		display:  block !important;
		}

	#tribe-events {
		@extend .results;
		}

	#tribe-events-header {display: none;}

	#tribe-events-content {
		margin: 0;
		}

	}

// Hide Page Title on Events List/Grid page
.tribe-events-list {
	h2.tribe-events-page-title {display: none;}
	}


.tribe-events-loop {
	clear: none !important;

	.type-tribe_events {
		display: inline-block;
		border-top-color: $cyan;
		@extend h5;
		color: $cyan;
		padding-top: 10px;

		&.tribe-events-first {
			padding-top: 10px !important;
			}
		}

	.tribe-events-event-image {
		figure {
			max-height: 250px;
			overflow: hidden;
			}

		figcaption {display: none;}

		img {
			width: 100%;
			height: auto;

			&:hover {
				opacity: .85;
				}
			}
		}
	}

.recurringinfo {
	display: none !important;
	}

.tribe-event-date-start {
	padding-top: 10px;
	}

.tribe-events-list-event-title {
	margin: 2px 0 10px 0 !important;
	text-transform: none;
	
	a {color: inherit;}

	}


/* EVENTS DETAIL PAGE
------------------------- */

.event-detail-page {

	// Hide these elements
	.event-index-title,
	#tribe-events-bar {
		display: none;
		}

	.events-index-link {
		display: block;
		@extend p;
		color: $cyan;
		transition: color .2s;

		&:hover {color: $magenta;}
			}
	}

.event-summary-section {
	margin: 30px 0;
	
	.tribe-events-event-image {
		width: 45%;
		float: left;
		margin-right: 2.5%;

		a {
		    display: inline-block;
		    width: 100%;
			}

		figure {
			width: 100%;
			}

		figcaption {display: none;}

		img {
		    width: 100%;
		    height: auto;
			}
		}
	}

.tribe-events-single-event-description {
	width: 50%;
	float: right;
	}

.tribe-events-cal-links {
	width: 50%;
	float: right;
	display: inline-block;

	.tribe-events-button {
		margin-right: 2.5%;
		}
	}

.event-details-section {
	position: relative;
	margin-top: 0;

	h2 {
		margin-bottom: 10px;
		}

	h3 {
		font: 700 17px/1.4 $roboto-cond;
		text-transform: none;
		}

	.tribe-events-venue-details { 
			@extend p;

		a {
			color: inherit;
			transition: color .2s; 

			&:hover {
				color: $magenta;
				}
			}

		.tribe-address {
			display: block;
			}
		}

	.tribe-event-schedule-details,
	.tribe-events-meta-group-venue,
	.tribe-events-event-cost {
		@extend p;
		}

	.tribe-events-meta-group-venue {
		dt {display: none;}

		a {
			color: $magenta;
			border-bottom: 1px solid rgba($magenta,0);
			transition: border-bottom-color .2s;

			&:hover {
				border-bottom-color: $magenta;
				}
			}
		}

	.tribe-venue-tel {
		margin-top: 10px;
		}

	}

.tribe-address {
	font-style: normal;
	}

.tribe-events-event-meta {
	width: 30%;
	padding: 20px 2.5% 0 0;

		&:first-child {
			border-top: none !important;
			margin-top: -75px;
			}
	}

.tribe-events-meta-group-details {
	@extend p;
	margin-bottom: 0;

	a {
		color: $magenta;
		border-bottom: 1px solid rgba($magenta,0);
		transition: border-bottom-color .2s;

		&:hover {
			border-bottom-color: $magenta;
			}
		}	

	dt {
		@extend h3;
		margin: 20px 0 0 0;
		}
	
	dl {
		display: inline-block;
		width: 100%;
		padding: 20px 0 0 0;
		margin-top: -100px;
		background: white;
		}
	}

.tribe-events-meta-group-organizer {
	display: none;
	}

.tribe-events-venue-map {
	width: 65%;
	height: 300px;
	background: #aaa;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	}

.event-cta-buttons-wrapper {
	width: 65%;
	position: relative;
	right: 0;
	float: right;
	padding: 40px 0 50px;
	}

// Single - Related Events 

h3.tribe-events-related-events-title {
	clear: both;
	border-top: 1px solid $lt-grey;
	margin-top: 60px;
	padding-top: 30px;
	font: 400 26px/1.4 $roboto-cond;
	}

.tribe-related-events  {
	@extend .results;
	width: 100%;
	padding: 0;

	 li {
	 	@extend .single-listing;
	 	display: inline-block;
	    width: 31.25%;
	    padding: 10px 0 0 0;
	    float: left;
	    margin: 0 3% 40px 0;
	    border-top: 3px solid $cyan;
	    color: $cyan;
	    padding-top: 10px;

	    &:nth-child(3n) {
	      margin-right: 0;
	      }
	 	}

	 	.tribe-related-event-info {
	 		padding-bottom: 15px;
		 	}

	 	h3 {
	    	font: 400 22px/1.4 $roboto-cond;
		    margin: 0 0 5px 0;

		    a {
			    color: $black;
			    }
		 	}

	    span {
	    	font: 600 14px/1.2 $roboto-cond;
	    	text-transform: uppercase;
		    }
	}

.tribe-related-events-thumbnail {
	width: 100%;

	a {
		display: inline-block;
		width: 100%;

		img {
			width: 100%;
			transition: opacity .2s;

			&:hover {opacity: .75}
			}


		}
	}

.tribe-related-events-thumbnail {
	figcaption {display:none;}
	}


// My Events List Page (Business Owner)
.table-menu-wrapper {
	display: inline-block;
	display: none;  // Hide option to toggle column visibility
	}

#not-user {
	@extend p;
	color: $md-grey;
	
	a {
		text-decoration: underline;
		color: $md-grey;
		&:hover {color: $magenta;}
		}
	}

.my-events-display-options {
	@extend p;
	margin: 0 !important;

	a {
		text-decoration: underline;
		color: $md-grey;
		font-size: 14px;
		&:hover {color: $magenta;}
		}
	}

#tribe-community-events {

	.button {
		@extend .biz-cta-button;
		width: auto;
		padding: 6px 20px 4px 20px;
		}

	th {
		padding: 10px !important;
		@extend h5;
		background: $ltest-grey;
		}

	td {
		padding: 15px 10px !important;
		@extend p;
		font-size: 14px;

		a {
			color: inherit;
			transition: color .2s;

			&:hover {color: $magenta;}
			}
		}

	.title {
		@extend h3;
		}

	.row-actions {

		span {font-size: 13px;}

		a {
			@extend p;
			font-size: 13px;
			color: inherit;
			padding: 0 4px;
			transition: color .2s;

			&:hover {color: $magenta;}
			}
		}
	} // end #tribe-community-events

table.events-community {
	width: 100%;
	}


// Edit My Event Details Pg
#tribe-community-events {

	.events-community-post-title input[type="text"] {
		display: inline-block;
		min-height: 60px;
		padding: 20px;
		@extend h1;
		border: 1px solid $lt-grey;
		}

	form {
		width: 70%;

		label {
			display: inline-block;
			margin: 20px 0 10px;
			}
		}

	small.req,
	small.note {
		@extend p;
		font-style: italic;
		}

	small.note {
		font-size: 13px;
		display: none !important; // Images should be wayyy less than 32MB
		}

	textarea {
	    height: 250px;
		}

	input[type="text"] {
		@extend p;
		}

	.edit-venue-link a {
		display: inline-block;
		margin: 10px 0 0 0;
		color: $magenta;
		}

	// input[type="checkbox"] {
	// 	background: $magenta;
	// 	}

	.eventForm {
		td {
			padding: 0 !important;

			label {padding: 0 !important;}

			h4 {
				margin-top: 40px;
				}
			}

		select {
			  font: 400 15px/1.6 $roboto-reg;
			  margin: 0 2px;
			  padding: 0 20px;
			}

		}

	#event-categories {
		padding: 0 !important;

		li {

			label {
				margin: 0 !important;
				line-height: 2;
				font: 400 15px/1.4 $roboto-reg;
				}
			}
		}
	}

#tribe-add-recurrence,
.events-community-submit {
	height: auto !important;
	}

.tribe-community-event-info {
	margin: 0 !important;
	padding: 0 !important;
	}
