/*  HOMEPAGE
------------------------- */

// SPLASH 
.splash-bg {
	width: 80%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
	}

.splash {

	.header {display: none;}

	.sidebar {
		width: 20%;
		min-width: 280px;
		height: 100%;
		padding: 0 0 0 2.5%;
		position: relative;
		z-index: 3;
		background: white;
		float: left;
		// -webkit-clip-path: polygon(0 0, 98.5% 0, 100% 100%, 0% 100%);
		// clip-path: polygon(0 0, 98.5% 0, 100% 100%, 0% 100%);
		}

	.slant-back {
		width: 10%;
		min-width: 100px;
		height: 100%;
		background: url(../images/layout/slant_back.svg) no-repeat left top;
		background-size: auto 100%;
		position: relative;
		float: left;
		}

	.logo {
		width: 50%;
		height: auto;
		padding-top: 20px;
		}

	h2 {
		font: 900 24px/1.3 $roboto-reg;
		text-transform: uppercase;
		color: $magenta;
		}

	h3 {
		font: 700 15px/1.4 $roboto-cond;
		text-transform: uppercase;
		color: $md-grey;
		margin-bottom: 8px;
		}

	p {
		font: 400 16px/1.5 $roboto-cond;
		text-transform: uppercase;
		}

	section	{
		padding: 24px 0;
		border-top: 1px solid $lt-grey;

		&.intro {
			border-top: none;			
			}

		&.contact {
			a {
				color: $cyan;
				transition: color  .2s;

				&:hover {
					color: $orange;
					}				
				}
			}

		&.social {
			.social-icons {

				a {
					display: inline-block;
					width: 25px;
					height: 25px;
					color: $orange;
					border: 2px solid $orange;
					border-radius: 25px;
					text-align: center;
					margin: 0 5px 0 0;
					transition: border-color .3s;

					&:hover {
						border-color: $cyan;

						i {color: $cyan;}
						}
					}

				i {
					font-size: 16px;
					line-height: 1.7;
					transition: color .3s;
					}
				}
			}
		}

		#mc_embed_signup {

			.email {
				width: 65%;
				border: 1px solid $lt-grey;
				background: #efefef;
				padding: 6px;
				}

			#mc-embedded-subscribe {
				width: 28%;
				background: $magenta; 
				border: 2px solid $magenta;
				color: white;
				padding: 5px 0;
				font: 11px/1.4 $roboto-reg;
				text-transform: uppercase;
				letter-spacing: 1px;
				}
			}
	.footer {
		width: 94%;
		padding: 10px 3%;
		position: fixed;
		bottom: 0;
		text-align: right;
		color: white;

		p {
			font: 300 12px/1.4 $roboto-reg;
			-webkit-font-smoothing: antialiased;
			text-transform: none;
			opacity: .5;
			}
		}
	}  // end .splash

