/* MIXINS
------------------------- */

@mixin widthPercent($columns, $totalcolumns: 12) {
  width: percentage($columns/$totalcolumns);
  }

// move the element to the left 50% of it's own width
@mixin centerThis($columns, $totalcolumns: 12) {
  margin-left: (($columns/$totalcolumns)/2) * -100%; 
  }

@mixin transition($trans: all, $duration: 0.1s, $function: linear) {
  -webkit-transition: $trans $duration $function;
  -moz-transition: $trans $duration $function;
  -o-transition: $trans $duration $function;
  -ms-transition: $trans $duration $function;
  transition: $trans $duration $function;
}
@mixin gradient($top, $bottom, $fallback: "fallback.png") {
  background-color: $bottom;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url($fallback);
  background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom)); 
  background-image: -webkit-linear-gradient(top, $top, $bottom); 
  background-image:    -moz-linear-gradient(top, $top, $bottom); 
  background-image:      -o-linear-gradient(top, $top, $bottom);
  background-image:         linear-gradient(to bottom, $top, $bottom); 
}
@mixin round($size: $default-corner-radius) {
  -webkit-border-radius: $size;
          border-radius: $size;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
@mixin border-box() { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
@mixin no-border-box() { 
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
}
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
          box-shadow: $args;
}

// Mixin for stying placeholders
@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
 
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;  
    }
 
    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;  
    }
 
    &:-ms-input-placeholder {  
        color: $color;  
    }
}
@mixin position ($position: relative, $coordinates: 0 0 0 0) {

  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  position: $position;

  @if $top == auto {
    top: $top;
  }
  @else if not(unitless($top)) {
    top: $top;
  }

  @if $right == auto {
    right: $right;
  }
  @else if not(unitless($right)) {
    right: $right;
  }

  @if $bottom == auto {
    bottom: $bottom;
  }
  @else if not(unitless($bottom)) {
    bottom: $bottom;
  }

  @if $left == auto {
    left: $left;
  }
  @else if not(unitless($left)) {
    left: $left;
  }
}
@mixin triangle ($size, $color, $direction) {
  height: 0;
  width: 0;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;

    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
  }

  @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $size solid $color;

    @if $direction == up-right {
      border-left:  $size solid transparent;

    } @else if $direction == up-left {
      border-right: $size solid transparent;
    }
  }

  @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $size solid $color;

    @if $direction == down-right {
      border-left:  $size solid transparent;

    } @else if $direction == down-left {
      border-right: $size solid transparent;
    }
  }
}

// Tell respond-min and respond-max to output all media queries by default
    $viewport-width: false !default;

@mixin respond-min($width) {
    @if $viewport-width {
        @if $viewport-width >= $width {
            @content;    
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}
@mixin respond-max($width) {
    @if $viewport-width {
        @if $viewport-width <= $width {
            @content;    
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}
@mixin inline-block($alignment: none) {
    display: inline-block;
    @if $alignment and $alignment != none {
        vertical-align: $alignment; 
    }
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}
//************************************************************************//
// Generate a variable ($all-text-inputs) with a list of all html5
// input types that have a text-based input, excluding textarea.
// http://diveintohtml5.org/forms.html
//************************************************************************//
$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',

              // Webkit & Gecko may change the display of these in the future
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

$unquoted-inputs-list: ();
@each $input-type in $inputs-list {
  $unquoted-inputs-list: append($unquoted-inputs-list, unquote($input-type), comma);
}

$all-text-inputs: $unquoted-inputs-list;


// Hover Pseudo-class
//************************************************************************//
$all-text-inputs-hover: ();
@each $input-type in $unquoted-inputs-list {
      $input-type-hover: $input-type + ":hover";
      $all-text-inputs-hover: append($all-text-inputs-hover, $input-type-hover, comma);
}

// Focus Pseudo-class
//************************************************************************//
$all-text-inputs-focus: ();
@each $input-type in $unquoted-inputs-list {
      $input-type-focus: $input-type + ":focus";
      $all-text-inputs-focus: append($all-text-inputs-focus, $input-type-focus, comma);
}

// You must use interpolation on the variable:
// #{$all-text-inputs}
// #{$all-text-inputs-hover}
// #{$all-text-inputs-focus}

// Example
//************************************************************************//
//   #{$all-text-inputs}, textarea {
//     border: 1px solid red;
//   }