/*
STYLESHEET COMPILED USING SASS
*/
/*  GLOBAL VARIABLES
------------------------- */
/*  MIXINS
------------------------- */
/* ----------------------------------------------------------
    WYNWOOD BID - Custom Theme CSS        
---------------------------------------------------------- */
/* HTML5 Boilerplate
------------------------- */
html, body, div, span, object, iframe, h1, .edit-biz-details-form h2, h2, h3, .tribe-events-meta-group-details dt, h4, h5, .tribe-events-loop .type-tribe_events, h6, p, .tribe-events-sub-nav a, .event-details-section .tribe-events-venue-details, .event-details-section .tribe-event-schedule-details,
.event-details-section .tribe-events-meta-group-venue,
.event-details-section .tribe-events-event-cost, .tribe-events-meta-group-details, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* end HTML5 Boilerplate reset */
/* HTML5 boilerplate base styles */
html {
  overflow-y: scroll; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

ul, ol {
  list-style-type: none; }

small {
  font-size: 85%; }

b, strong, th {
  font-weight: bold; }

i, em {
  font-style: italic; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

/* end HTML5 boilerplate base styles */
/* BSD base styles */
caption, th {
  text-align: left; }

/*  COMMON STYLES
------------------------- */
h1, .edit-biz-details-form h2, h2, h3, .tribe-events-meta-group-details dt, h4, h5, .tribe-events-loop .type-tribe_events, h6 {
  font-weight: normal; }

h1, .edit-biz-details-form h2 {
  font: 300 42px/1.1 "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #231f20;
  margin: 0 0 10px 0; }

h2 {
  font: 400 26px/1.4 "Roboto Condensed", sans-serif;
  letter-spacing: -.5px; }

h3, .tribe-events-meta-group-details dt {
  font: 400 18px/1.4 "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 20px 0 10px; }

h4 {
  font: 700 17px/1.4 "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h5, .tribe-events-loop .type-tribe_events {
  font: 600 14px/1.4 "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

p, .tribe-events-sub-nav a, .event-details-section .tribe-events-venue-details, .event-details-section .tribe-event-schedule-details,
.event-details-section .tribe-events-meta-group-venue,
.event-details-section .tribe-events-event-cost, .tribe-events-meta-group-details {
  font: 400 15px/1.6 "Roboto", sans-serif;
  margin-bottom: 15px; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  text-decoration: none; }

a:link {
  -webkit-tap-highlight-color: #f47920; }

label {
  font: 600 16px/1.4 "Roboto Condensed", sans-serif; }

select, input, textarea {
  color: #444;
  -webkit-appearance: none;
  box-shadow: none !important; }

input[type='text'],
input[type='password'] {
  height: 20px;
  padding: 10px;
  box-shadow: none !important;
  border: 1px solid #ccc; }

input[type="submit"] {
  display: inline-block;
  border: 2px solid #ed027e;
  padding: 10px 20px 8px;
  margin: 5px 0;
  background: #ed027e;
  font: 700 15px/1.4 "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  transition: background .2s, color .2s; }
  input[type="submit"]:hover {
    background: white;
    color: #ed027e; }

#tinymce p, #tinymce .tribe-events-sub-nav a, .tribe-events-sub-nav #tinymce a, #tinymce .event-details-section .tribe-events-venue-details, .event-details-section #tinymce .tribe-events-venue-details, #tinymce .event-details-section .tribe-event-schedule-details, .event-details-section #tinymce .tribe-event-schedule-details,
#tinymce .event-details-section .tribe-events-meta-group-venue,
.event-details-section #tinymce .tribe-events-meta-group-venue,
#tinymce .event-details-section .tribe-events-event-cost,
.event-details-section #tinymce .tribe-events-event-cost, #tinymce .tribe-events-meta-group-details {
  padding: 15px 30px !important; }

.half {
  width: 50%; }

.third {
  width: 33.33%; }

.fourth {
  width: 25%; }

.fifth {
  width: 20%; }

.section-marker {
  height: 24px;
  display: inline-block;
  background: white;
  padding: 4px 16px;
  position: absolute;
  top: -38px;
  right: 0;
  font: 18px/1.4 "Roboto Condensed", sans-serif;
  color: white;
  background: #4f4f4f;
  text-transform: uppercase; }

.biz-cta-button,
.simplefavorite-button {
  display: inline-block;
  width: 184px;
  max-width: 90%;
  height: 18px;
  border: 2px solid #ed027e;
  padding: 6px 8px 4px 8px;
  margin: 5px 0;
  background: #ed027e;
  font: 700 13px/1.4 "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  transition: background .2s, color .2s; }
  .biz-cta-button i,
  .simplefavorite-button i {
    display: inline-block;
    float: right;
    font-size: 15px; }
    .biz-cta-button i.fa-compass,
    .simplefavorite-button i.fa-compass {
      font-size: 18px; }
  .biz-cta-button:hover,
  .simplefavorite-button:hover {
    color: #ed027e;
    background: none; }
    .biz-cta-button:hover i,
    .simplefavorite-button:hover i {
      color: #ed027e; }

.simplefavorite-button {
  height: 32px; }

.filter-sidebar {
  width: 18%;
  padding: 15px 1.5%;
  margin-top: 20px;
  float: left;
  background: #4f4f4f;
  color: white; }
  .filter-sidebar a {
    width: 94%;
    display: inline-block;
    color: white;
    font: 700 13px/1.4 "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 4px 3% 3px 3%;
    transition: background .2s, color .2s; }
    .filter-sidebar a.active, .filter-sidebar a:hover {
      background: #828282;
      color: #231f20; }

.learn-more-link, .toggle-profile-edit a {
  display: inline-block;
  color: #ed027e;
  font: 800 14px/1.4 "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  transition: border-bottom .2s; }
  .learn-more-link .fa-angle-right, .toggle-profile-edit a .fa-angle-right {
    font-size: 15px;
    padding-left: 2px; }
  .learn-more-link:hover, .toggle-profile-edit a:hover {
    border-bottom: 1px solid #ed027e; }

.results {
  width: 76%;
  padding: 20px 0 50px 3%;
  float: left; }

.results.list-view .single-listing,
.results.list-view .type-tribe_events,
.tribe-events-loop .single-listing,
.tribe-events-loop .type-tribe_events {
  width: 31.25%;
  float: left;
  padding: 10px 0 0 0;
  margin: 0 3% 40px 0;
  border-top: 3px solid #4f4f4f; }
  .results.list-view .single-listing:nth-child(3n),
  .results.list-view .type-tribe_events:nth-child(3n),
  .tribe-events-loop .single-listing:nth-child(3n),
  .tribe-events-loop .type-tribe_events:nth-child(3n) {
    margin-right: 0; }
  .results.list-view .single-listing h2, .results.list-view .single-listing h2 a,
  .results.list-view .type-tribe_events h2,
  .results.list-view .type-tribe_events h2 a,
  .tribe-events-loop .single-listing h2,
  .tribe-events-loop .single-listing h2 a,
  .tribe-events-loop .type-tribe_events h2,
  .tribe-events-loop .type-tribe_events h2 a {
    font-size: 19px;
    line-height: 1.2;
    color: #231f20;
    margin: 5px 0; }

/*  LAYOUT
------------------------- */
html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header {
  width: 100%;
  height: 90px;
  background: #4f4f4f;
  color: white;
  position: relative;
  z-index: 5; }
  .header a {
    color: white; }

.header-logo {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  padding: 0;
  position: relative; }
  .header-logo img {
    width: auto;
    height: 113px; }

#menu-primary-nav {
  height: 100%; }
  #menu-primary-nav li.menu-item {
    display: block;
    width: 13%;
    height: 100%;
    float: left;
    position: relative;
    padding: 0 1%;
    font: 24px/1.4 "Roboto Condensed", sans-serif;
    text-transform: uppercase; }
    #menu-primary-nav li.menu-item a {
      display: inline-block;
      height: 60%;
      padding: 20% 0 0 0;
      position: relative; }
      #menu-primary-nav li.menu-item a:after {
        display: inline-block;
        content: "";
        width: 13px;
        height: 5px;
        background: url(../images/layout/arrow_down_white.svg) no-repeat center center;
        background-size: 100% auto;
        position: absolute;
        top: 50%;
        right: -30px; }
    #menu-primary-nav li.menu-item:hover {
      cursor: pointer; }
    #menu-primary-nav li.menu-item:hover > .sub-menu {
      display: block;
      opacity: 1; }
  #menu-primary-nav .sub-menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ed027e;
    opacity: 0;
    transition: opacity .5s; }
    #menu-primary-nav .sub-menu li {
      width: 90%;
      height: auto;
      font: 18px/1.3 "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      padding: 13px 5% 10px 5%;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      transition: background .2s; }
      #menu-primary-nav .sub-menu li a {
        padding: 0; }
        #menu-primary-nav .sub-menu li a:after {
          display: none; }
      #menu-primary-nav .sub-menu li:hover {
        background: #ba0263; }
    #menu-primary-nav .sub-menu:before {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -18px;
      left: 20px;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid #ed027e; }

.utility-nav {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 1%;
  top: 0; }
  .utility-nav a {
    display: inline-block;
    width: auto;
    height: 100%;
    text-align: center; }
    .utility-nav a img {
      display: inline-block;
      width: auto;
      height: 30%;
      position: relative;
      top: 35%; }
    .utility-nav a.login-link {
      padding-right: 10px; }
    .utility-nav a.logout-link span, .utility-nav a.favorites-link span, .utility-nav a.my-account-link span {
      display: inline-block;
      font: 700 12px/1.2 "Roboto", sans-serif;
      text-transform: uppercase;
      position: relative;
      top: 25%;
      padding: 0 5px;
      color: #dbdbdb;
      transition: color .2s; }
    .utility-nav a.logout-link:hover span {
      color: white; }
    .utility-nav a.favorites-link, .utility-nav a.my-account-link {
      height: 85%; }
      .utility-nav a.favorites-link span, .utility-nav a.my-account-link span {
        top: 30%; }
      .utility-nav a.favorites-link i, .utility-nav a.my-account-link i {
        display: inline-block;
        width: 10px;
        height: 12px;
        transition: color .2s;
        padding: 0 5px; }
        .utility-nav a.favorites-link i.fa-cog, .utility-nav a.my-account-link i.fa-cog {
          font-size: 16px;
          position: relative;
          padding-right: 10px; }
      .utility-nav a.favorites-link:hover i, .utility-nav a.my-account-link:hover i {
        color: #ed027e; }
    .utility-nav a.search-icon {
      padding: 0 15px; }
  .utility-nav .v-rule {
    display: inline-block;
    width: 1px;
    height: 30%;
    border-right: 1px solid #ccc;
    position: relative;
    top: 35%; }

#searchform {
  display: none;
  width: 70%;
  height: 90px;
  position: absolute;
  top: 90px;
  right: 0; }
  #searchform div {
    width: 100%;
    height: 100%; }
    #searchform div input[type="search"] {
      height: 90px;
      width: 100%;
      padding: 20px 2.5%;
      font: 300 24px/1.4 "Roboto", sans-serif;
      color: white;
      border: none;
      background: #ed027e; }
      #searchform div input[type="search"]::-webkit-input-placeholder, #searchform div input[type="search"]::-moz-placeholder, #searchform div input[type="search"]:-ms-input-placeholder {
        color: white; }

.hero-img {
  width: 100%;
  height: 40%;
  position: relative;
  z-index: 0;
  background-color: #ccc; }

.main-content {
  width: 81%;
  margin: 0 auto;
  position: relative;
  top: -10%;
  z-index: 2;
  background: white;
  padding: 30px 2%;
  border-top: 6px solid #4f4f4f; }

.footer {
  background: #4f4f4f;
  clear: both;
  color: white;
  padding: 50px 5%; }
  .footer section {
    width: 20%;
    float: left; }
  .footer .branding {
    text-align: left; }
    .footer .branding p, .footer .branding .tribe-events-sub-nav a, .tribe-events-sub-nav .footer .branding a, .footer .branding .event-details-section .tribe-events-venue-details, .event-details-section .footer .branding .tribe-events-venue-details, .footer .branding .event-details-section .tribe-event-schedule-details, .event-details-section .footer .branding .tribe-event-schedule-details,
    .footer .branding .event-details-section .tribe-events-meta-group-venue,
    .event-details-section .footer .branding .tribe-events-meta-group-venue,
    .footer .branding .event-details-section .tribe-events-event-cost,
    .event-details-section .footer .branding .tribe-events-event-cost, .footer .branding .tribe-events-meta-group-details {
      opacity: .3;
      clear: both; }
  .footer .social-links h3, .footer .social-links .tribe-events-meta-group-details dt, .tribe-events-meta-group-details .footer .social-links dt {
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-top: 0; }
  .footer .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 30px;
    text-align: center;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 2;
    margin: 0 5px 0 0;
    transition: background .2s, color .2s; }
    .footer .social-links a:hover {
      background: #4f4f4f;
      color: #ccc; }
  .footer .email-signup {
    margin-top: 30px; }
  .footer #mc_embed_signup .email {
    width: 64%;
    border: 1px solid #ccc;
    background: #efefef;
    padding: 6px; }
  .footer #mc_embed_signup #mc-embedded-subscribe {
    width: 28%;
    background: #ed027e;
    border: 2px solid #ed027e;
    color: white;
    padding: 6px 0;
    font: 11px/1.4 "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color .2s, background .2s; }
    .footer #mc_embed_signup #mc-embedded-subscribe:hover {
      color: #ed027e;
      background: none; }

#menu-footer-nav {
  width: 60%;
  float: left; }
  #menu-footer-nav .menu-item {
    width: 25%;
    float: left; }
    #menu-footer-nav .menu-item a {
      display: inline-block;
      font: 700 14px/1.3 "Roboto", sans-serif;
      text-transform: uppercase;
      color: white;
      transition: color .2s;
      margin: 0 0 4px 0; }
      #menu-footer-nav .menu-item a:hover {
        color: #2d2d2d; }
    #menu-footer-nav .menu-item .sub-menu .menu-item {
      width: 100%; }
      #menu-footer-nav .menu-item .sub-menu .menu-item a {
        font-size: 13px;
        text-transform: none;
        font-weight: 400; }

/*  HOMEPAGE
------------------------- */
.splash-bg {
  width: 80%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0; }

.splash .header {
  display: none; }
.splash .sidebar {
  width: 20%;
  min-width: 280px;
  height: 100%;
  padding: 0 0 0 2.5%;
  position: relative;
  z-index: 3;
  background: white;
  float: left; }
.splash .slant-back {
  width: 10%;
  min-width: 100px;
  height: 100%;
  background: url(../images/layout/slant_back.svg) no-repeat left top;
  background-size: auto 100%;
  position: relative;
  float: left; }
.splash .logo {
  width: 50%;
  height: auto;
  padding-top: 20px; }
.splash h2 {
  font: 900 24px/1.3 "Roboto", sans-serif;
  text-transform: uppercase;
  color: #ed027e; }
.splash h3, .splash .tribe-events-meta-group-details dt, .tribe-events-meta-group-details .splash dt {
  font: 700 15px/1.4 "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #4f4f4f;
  margin-bottom: 8px; }
.splash p, .splash .tribe-events-sub-nav a, .tribe-events-sub-nav .splash a, .splash .event-details-section .tribe-events-venue-details, .event-details-section .splash .tribe-events-venue-details, .splash .event-details-section .tribe-event-schedule-details, .event-details-section .splash .tribe-event-schedule-details,
.splash .event-details-section .tribe-events-meta-group-venue,
.event-details-section .splash .tribe-events-meta-group-venue,
.splash .event-details-section .tribe-events-event-cost,
.event-details-section .splash .tribe-events-event-cost, .splash .tribe-events-meta-group-details {
  font: 400 16px/1.5 "Roboto Condensed", sans-serif;
  text-transform: uppercase; }
.splash section {
  padding: 24px 0;
  border-top: 1px solid #ccc; }
  .splash section.intro {
    border-top: none; }
  .splash section.contact a {
    color: #00abc4;
    transition: color  .2s; }
    .splash section.contact a:hover {
      color: #f47920; }
  .splash section.social .social-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #f47920;
    border: 2px solid #f47920;
    border-radius: 25px;
    text-align: center;
    margin: 0 5px 0 0;
    transition: border-color .3s; }
    .splash section.social .social-icons a:hover {
      border-color: #00abc4; }
      .splash section.social .social-icons a:hover i {
        color: #00abc4; }
  .splash section.social .social-icons i {
    font-size: 16px;
    line-height: 1.7;
    transition: color .3s; }
.splash #mc_embed_signup .email {
  width: 65%;
  border: 1px solid #ccc;
  background: #efefef;
  padding: 6px; }
.splash #mc_embed_signup #mc-embedded-subscribe {
  width: 28%;
  background: #ed027e;
  border: 2px solid #ed027e;
  color: white;
  padding: 5px 0;
  font: 11px/1.4 "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px; }
.splash .footer {
  width: 94%;
  padding: 10px 3%;
  position: fixed;
  bottom: 0;
  text-align: right;
  color: white; }
  .splash .footer p, .splash .footer .tribe-events-sub-nav a, .tribe-events-sub-nav .splash .footer a, .splash .footer .event-details-section .tribe-events-venue-details, .event-details-section .splash .footer .tribe-events-venue-details, .splash .footer .event-details-section .tribe-event-schedule-details, .event-details-section .splash .footer .tribe-event-schedule-details,
  .splash .footer .event-details-section .tribe-events-meta-group-venue,
  .event-details-section .splash .footer .tribe-events-meta-group-venue,
  .splash .footer .event-details-section .tribe-events-event-cost,
  .event-details-section .splash .footer .tribe-events-event-cost, .splash .footer .tribe-events-meta-group-details {
    font: 300 12px/1.4 "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    opacity: .5; }

/*   SUBPAGES
------------------------- */
.main-content.biz-detail-pg,
.main-content.business-index {
  border-top-color: #00ae8d; }
  .main-content.biz-detail-pg .section-marker,
  .main-content.biz-detail-pg .filter-sidebar,
  .main-content.business-index .section-marker,
  .main-content.business-index .filter-sidebar {
    background: #00ae8d; }

.grid-map-view-toggle {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  top: 0; }
  .grid-map-view-toggle button {
    width: 95px;
    height: 75px;
    text-align: center;
    padding-top: 45px;
    margin-left: -5px;
    background: #ccc;
    font: 700 13px/1.4 "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    vertical-align: bottom;
    transition: background-color .2s; }
    .grid-map-view-toggle button.grid-view {
      background: #ccc url(../images/layout/grid_view.svg) no-repeat center -5px;
      background-size: 90% auto; }
    .grid-map-view-toggle button.map-view {
      background: #ccc url(../images/layout/map_view.svg) no-repeat center -2px;
      background-size: 80% auto; }
    .grid-map-view-toggle button.active-view, .grid-map-view-toggle button:hover {
      background-color: #00ae8d; }

.main-content.business-index .filter-sidebar a.active, .main-content.business-index .filter-sidebar a:hover {
  background: #15ffd3; }

.results.list-view h5, .results.list-view .tribe-events-loop .type-tribe_events, .tribe-events-loop .results.list-view .type-tribe_events {
  display: inline-block;
  height: 20px;
  color: #00ae8d; }
.results.list-view .single-listing {
  border-top-color: #00ae8d;
  position: relative; }
  .results.list-view .single-listing .biz-profile-img {
    display: block;
    width: 100%;
    height: 150px;
    transition: opacity .2s; }
    .results.list-view .single-listing .biz-profile-img:hover {
      opacity: .85; }

.toggle-biz-details {
  display: block;
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: -15px;
  text-align: center; }
  .toggle-biz-details .fa-plus {
    display: inline-block;
    width: 26px;
    height: 26px;
    color: white;
    background: #00ae8d;
    border-radius: 26px;
    font-size: 15px;
    line-height: 1.9;
    text-align: center;
    transition: background .2s; }
  .toggle-biz-details:hover .fa-plus, .toggle-biz-details.active-details .fa-plus {
    background: #ed027e; }
  .toggle-biz-details.active-details {
    z-index: 8; }

.summary-card {
  border-bottom: 3px solid #00ae8d;
  position: relative; }
  .summary-card.active-card {
    border-bottom-color: #ed027e; }

.summary-card-details {
  display: none;
  padding: 25px 0;
  position: absolute;
  left: 0;
  z-index: 7;
  background: #f2f2f2;
  margin-top: 20px; }
  .summary-card-details h2 {
    font-size: 24px !important; }
  .summary-card-details .biz-detail-sidebar {
    width: 27%;
    float: left;
    padding-left: 3%; }
    .summary-card-details .biz-detail-sidebar h3, .summary-card-details .biz-detail-sidebar .tribe-events-meta-group-details dt, .tribe-events-meta-group-details .summary-card-details .biz-detail-sidebar dt {
      text-transform: none;
      font-weight: 600;
      margin: 10px 0 0 0;
      font-size: 16px; }
    .summary-card-details .biz-detail-sidebar p, .summary-card-details .biz-detail-sidebar .tribe-events-sub-nav a, .tribe-events-sub-nav .summary-card-details .biz-detail-sidebar a, .summary-card-details .biz-detail-sidebar .event-details-section .tribe-events-venue-details, .event-details-section .summary-card-details .biz-detail-sidebar .tribe-events-venue-details, .summary-card-details .biz-detail-sidebar .event-details-section .tribe-event-schedule-details, .event-details-section .summary-card-details .biz-detail-sidebar .tribe-event-schedule-details,
    .summary-card-details .biz-detail-sidebar .event-details-section .tribe-events-meta-group-venue,
    .event-details-section .summary-card-details .biz-detail-sidebar .tribe-events-meta-group-venue,
    .summary-card-details .biz-detail-sidebar .event-details-section .tribe-events-event-cost,
    .event-details-section .summary-card-details .biz-detail-sidebar .tribe-events-event-cost, .summary-card-details .biz-detail-sidebar .tribe-events-meta-group-details {
      font: 400 14px/1.5 "Roboto", sans-serif;
      margin-bottom: 8px; }
    .summary-card-details .biz-detail-sidebar .biz-full-address:hover {
      color: #ed027e !important; }
    .summary-card-details .biz-detail-sidebar .hours {
      margin-bottom: 5px; }
      .summary-card-details .biz-detail-sidebar .hours li {
        font-size: 14px;
        line-height: 1.4; }
  .summary-card-details .biz-summary {
    width: 62%;
    float: right;
    padding-right: 3%; }
    .summary-card-details .biz-summary p, .summary-card-details .biz-summary .tribe-events-sub-nav a, .tribe-events-sub-nav .summary-card-details .biz-summary a, .summary-card-details .biz-summary .event-details-section .tribe-events-venue-details, .event-details-section .summary-card-details .biz-summary .tribe-events-venue-details, .summary-card-details .biz-summary .event-details-section .tribe-event-schedule-details, .event-details-section .summary-card-details .biz-summary .tribe-event-schedule-details,
    .summary-card-details .biz-summary .event-details-section .tribe-events-meta-group-venue,
    .event-details-section .summary-card-details .biz-summary .tribe-events-meta-group-venue,
    .summary-card-details .biz-summary .event-details-section .tribe-events-event-cost,
    .event-details-section .summary-card-details .biz-summary .tribe-events-event-cost, .summary-card-details .biz-summary .tribe-events-meta-group-details {
      font: 400 14px/1.5 "Roboto", sans-serif; }

.biz-full-address {
  border-bottom: 2px solid rgba(237, 2, 126, 0); }
  .biz-full-address:hover {
    text-decoration: underline;
    border-bottom: none; }

.biz-details {
  width: 55%;
  float: left;
  padding-right: 5%; }
  .biz-details h1, .biz-details .edit-biz-details-form h2, .edit-biz-details-form .biz-details h2 {
    margin-top: 20px; }

.biz-detail-sidebar {
  width: 40%;
  float: right; }
  .biz-detail-sidebar h3, .biz-detail-sidebar .tribe-events-meta-group-details dt, .tribe-events-meta-group-details .biz-detail-sidebar dt {
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0 0; }
  .biz-detail-sidebar p, .biz-detail-sidebar .tribe-events-sub-nav a, .tribe-events-sub-nav .biz-detail-sidebar a, .biz-detail-sidebar .event-details-section .tribe-events-venue-details, .event-details-section .biz-detail-sidebar .tribe-events-venue-details, .biz-detail-sidebar .event-details-section .tribe-event-schedule-details, .event-details-section .biz-detail-sidebar .tribe-event-schedule-details,
  .biz-detail-sidebar .event-details-section .tribe-events-meta-group-venue,
  .event-details-section .biz-detail-sidebar .tribe-events-meta-group-venue,
  .biz-detail-sidebar .event-details-section .tribe-events-event-cost,
  .event-details-section .biz-detail-sidebar .tribe-events-event-cost, .biz-detail-sidebar .tribe-events-meta-group-details, .biz-detail-sidebar li {
    font: 400 15px/1.6 "Roboto", sans-serif; }
    .biz-detail-sidebar p a, .biz-detail-sidebar .tribe-events-sub-nav a a, .tribe-events-sub-nav .biz-detail-sidebar a a, .biz-detail-sidebar .event-details-section .tribe-events-venue-details a, .event-details-section .biz-detail-sidebar .tribe-events-venue-details a, .biz-detail-sidebar .event-details-section .tribe-event-schedule-details a, .event-details-section .biz-detail-sidebar .tribe-event-schedule-details a,
    .biz-detail-sidebar .event-details-section .tribe-events-meta-group-venue a,
    .event-details-section .biz-detail-sidebar .tribe-events-meta-group-venue a,
    .biz-detail-sidebar .event-details-section .tribe-events-event-cost a,
    .event-details-section .biz-detail-sidebar .tribe-events-event-cost a, .biz-detail-sidebar .tribe-events-meta-group-details a, .biz-detail-sidebar li a {
      color: #ed027e;
      border-bottom: 1px solid rgba(237, 2, 126, 0);
      transition: border-color .2s; }
      .biz-detail-sidebar p a:hover, .biz-detail-sidebar .tribe-events-sub-nav a a:hover, .tribe-events-sub-nav .biz-detail-sidebar a a:hover, .biz-detail-sidebar .event-details-section .tribe-events-venue-details a:hover, .event-details-section .biz-detail-sidebar .tribe-events-venue-details a:hover, .biz-detail-sidebar .event-details-section .tribe-event-schedule-details a:hover, .event-details-section .biz-detail-sidebar .tribe-event-schedule-details a:hover,
      .biz-detail-sidebar .event-details-section .tribe-events-meta-group-venue a:hover,
      .event-details-section .biz-detail-sidebar .tribe-events-meta-group-venue a:hover,
      .biz-detail-sidebar .event-details-section .tribe-events-event-cost a:hover,
      .event-details-section .biz-detail-sidebar .tribe-events-event-cost a:hover, .biz-detail-sidebar .tribe-events-meta-group-details a:hover, .biz-detail-sidebar li a:hover {
        border-color: #ed027e; }
  .biz-detail-sidebar .social-icons {
    margin-left: -10px; }
    .biz-detail-sidebar .social-icons a {
      display: inline-block;
      font-size: 16px;
      color: #ed027e;
      border-right: 1px solid #ccc;
      padding: 5px 10px;
      margin: 10px 0 20px 0; }
      .biz-detail-sidebar .social-icons a:last-of-type {
        border-right: none; }

.deal-wrapper {
  width: 94%;
  padding: 15px 3%;
  background: #00ae8d;
  color: white; }
  .deal-wrapper h4 {
    color: #2e5d51; }
  .deal-wrapper p, .deal-wrapper .tribe-events-sub-nav a, .tribe-events-sub-nav .deal-wrapper a, .deal-wrapper .event-details-section .tribe-events-venue-details, .event-details-section .deal-wrapper .tribe-events-venue-details, .deal-wrapper .event-details-section .tribe-event-schedule-details, .event-details-section .deal-wrapper .tribe-event-schedule-details,
  .deal-wrapper .event-details-section .tribe-events-meta-group-venue,
  .event-details-section .deal-wrapper .tribe-events-meta-group-venue,
  .deal-wrapper .event-details-section .tribe-events-event-cost,
  .event-details-section .deal-wrapper .tribe-events-event-cost, .deal-wrapper .tribe-events-meta-group-details {
    font-size: 14px;
    line-height: 1.3; }
  .deal-wrapper a {
    color: white;
    text-decoration: underline;
    transition: color, .2s; }
    .deal-wrapper a:hover {
      color: #2e5d51; }

.biz-summary .biz-profile-img {
  width: 100%;
  height: auto; }

.acf-map {
  width: 100%;
  height: 350px;
  border: none;
  margin: 0 0 10px 0; }

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important; }

.biz-full-address {
  display: inline-block;
  color: #231f20 !important; }
  .biz-full-address:hover {
    color: #ed027e !important; }

.toggle-profile-edit {
  position: absolute;
  top: 20px;
  right: 2%; }
  .toggle-profile-edit a {
    display: inline-block;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin: 0;
    transition: background .2s, color .2s; }
    .toggle-profile-edit a:hover {
      border: 2px solid #ed027e;
      background: #ed027e;
      color: white; }

.edit-biz-details-form {
  width: 60%;
  min-width: 300px;
  display: none;
  padding-top: 30px;
  clear: both; }
  .edit-biz-details-form p.label, .edit-biz-details-form .tribe-events-sub-nav a.label, .tribe-events-sub-nav .edit-biz-details-form a.label, .edit-biz-details-form .event-details-section .label.tribe-events-venue-details, .event-details-section .edit-biz-details-form .label.tribe-events-venue-details, .edit-biz-details-form .event-details-section .label.tribe-event-schedule-details, .event-details-section .edit-biz-details-form .label.tribe-event-schedule-details,
  .edit-biz-details-form .event-details-section .label.tribe-events-meta-group-venue,
  .event-details-section .edit-biz-details-form .label.tribe-events-meta-group-venue,
  .edit-biz-details-form .event-details-section .label.tribe-events-event-cost,
  .event-details-section .edit-biz-details-form .label.tribe-events-event-cost, .edit-biz-details-form .label.tribe-events-meta-group-details {
    font: italic 400 13px/1.4 "Roboto", sans-serif !important;
    color: #4f4f4f !important; }
    .edit-biz-details-form p.label label, .edit-biz-details-form .tribe-events-sub-nav a.label label, .tribe-events-sub-nav .edit-biz-details-form a.label label, .edit-biz-details-form .event-details-section .label.tribe-events-venue-details label, .event-details-section .edit-biz-details-form .label.tribe-events-venue-details label, .edit-biz-details-form .event-details-section .label.tribe-event-schedule-details label, .event-details-section .edit-biz-details-form .label.tribe-event-schedule-details label,
    .edit-biz-details-form .event-details-section .label.tribe-events-meta-group-venue label,
    .event-details-section .edit-biz-details-form .label.tribe-events-meta-group-venue label,
    .edit-biz-details-form .event-details-section .label.tribe-events-event-cost label,
    .event-details-section .edit-biz-details-form .label.tribe-events-event-cost label, .edit-biz-details-form .label.tribe-events-meta-group-details label {
      font: 700 18px/1.4 "Roboto Condensed", sans-serif !important;
      color: #231f20 !important; }
  .edit-biz-details-form .acf_postbox .field input[type="text"],
  .edit-biz-details-form .acf_postbox .field input[type="number"],
  .edit-biz-details-form .acf_postbox .field input[type="password"],
  .edit-biz-details-form .acf_postbox .field input[type="email"] {
    width: 84%;
    font: 400 15px/1.6 "Roboto", sans-serif;
    color: #231f20; }
  .edit-biz-details-form #acf-field-phone {
    width: 200px; }
  .edit-biz-details-form .acf_postbox .field textarea {
    width: 95%;
    padding: 20px;
    font: 400 15px/1.6 "Roboto", sans-serif;
    color: #231f20;
    border: 1px solid #ccc; }
  .edit-biz-details-form .acf_postbox .field select {
    height: 36px; }
  .edit-biz-details-form .repeater > table {
    width: 100%; }
  .edit-biz-details-form table.acf-input-table {
    box-shadow: none; }
    .edit-biz-details-form table.acf-input-table table {
      border: 1px solid #ccc; }
  .edit-biz-details-form table.acf-input-table > thead > tr > th,
  .edit-biz-details-form table.acf-input-table > tbody > tr > td {
    border-right: none; }

/*  EVENTS LIST
------------------------- */
.main-content.events-index {
  border-top-color: #00abc4; }
  .main-content.events-index .section-marker,
  .main-content.events-index .filter-sidebar {
    background: #00abc4; }
  .main-content.events-index .filter-sidebar a.active, .main-content.events-index .filter-sidebar a:hover {
    background: #2be4ff; }

.tribe-bar-views-select,
.tribe-bar-views-inner label,
.tribe-events-cal-links,
.tribe-events-ical {
  display: none !important; }

#tribe-bar-form {
  margin-top: 20px; }

#tribe-bar-collapse-toggle {
  font: 400 26px/1.4 "Roboto Condensed", sans-serif;
  letter-spacing: -.5px;
  margin-bottom: 5px; }

#tribe-bar-views {
  display: inline-block;
  width: 190px;
  float: right;
  position: absolute;
  right: 0;
  top: 0; }
  #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option {
    display: inline-block; }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
      display: inline-block;
      width: 95px;
      height: 30px;
      float: left;
      text-align: center;
      padding-top: 50px;
      margin-left: 0;
      font: 700 13px/1.4 "Roboto", sans-serif;
      text-transform: uppercase;
      color: white;
      border: none;
      box-shadow: none;
      outline: none;
      vertical-align: bottom;
      transition: background-color .2s; }
      #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a.active-view, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
        background-color: #00ae8d; }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-views-option-list a {
      background: #ccc url(../images/layout/grid_view.svg) no-repeat center 3px;
      background-size: 80% auto; }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-views-option-month a {
      background: #ccc url(../images/layout/calendar_view.svg) no-repeat center 10px;
      background-size: 45% auto; }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a {
      background-color: #00abc4; }

.tribe-bar-filters {
  background: #ccc;
  padding: 20px; }

#tribe-bar-dates,
.tribe-bar-search-filter,
.tribe-bar-geoloc-filter {
  display: inline-block;
  float: left; }
  #tribe-bar-dates label,
  .tribe-bar-search-filter label,
  .tribe-bar-geoloc-filter label {
    position: relative;
    top: 3px; }
  #tribe-bar-dates input[type='text'],
  .tribe-bar-search-filter input[type='text'],
  .tribe-bar-geoloc-filter input[type='text'] {
    border: 1px solid #00abc4;
    margin-left: 6px; }

#tribe-bar-dates {
  width: 22%; }

.tribe-bar-search-filter,
.tribe-bar-geoloc-filter {
  width: 32%; }
  .tribe-bar-search-filter input[type='text'],
  .tribe-bar-geoloc-filter input[type='text'] {
    width: 60%;
    border: 1px solid #00abc4;
    margin-left: 6px; }

#tribe-bar-date {
  width: 80px;
  margin-left: 15px; }

.tribe-events-button {
  height: 32px;
  border: 2px solid #00abc4;
  padding: 6px 20px 4px 20px;
  margin: 0;
  background: #00abc4;
  font: 700 13px/1.4 "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  transition: background .2s, color .2s; }
  .tribe-events-button:hover {
    color: #00abc4;
    background: none; }

#tribe-events-content {
  margin: 20px 0; }
  #tribe-events-content h2.tribe-events-page-title {
    text-align: left; }

.tribe-events-back {
  display: none; }
  .tribe-events-back a {
    color: #00abc4;
    transition: color .2s; }
    .tribe-events-back a:hover {
      color: #ed027e; }

.tribe-events-sub-nav {
  text-align: left !important; }
  .tribe-events-sub-nav a {
    color: #00abc4;
    transition: color .2s; }
    .tribe-events-sub-nav a:hover {
      color: #ed027e; }

#tribe-events-header .tribe-events-sub-nav {
  display: none; }

#tribe-events-footer {
  clear: both; }

.tribe-events-calendar thead {
  background: #4f4f4f;
  color: white; }
  .tribe-events-calendar thead tr th {
    padding: 10px 0;
    font: 600 14px/1.4 "Roboto", sans-serif; }

.tribe-events-othermonth {
  opacity: .5; }

.tribe-events-month-event-title {
  padding: 0 8px;
  text-transform: none;
  font-size: 14px; }
  .tribe-events-month-event-title a {
    color: #00abc4;
    font-size: 100% !important;
    transition: color .2s; }
    .tribe-events-month-event-title a:hover {
      color: #ed027e; }

.tribe-events-list h2.tribe-events-page-title {
  display: none; }

.tribe-events-loop {
  clear: none !important; }
  .tribe-events-loop .type-tribe_events {
    display: inline-block;
    border-top-color: #00abc4;
    color: #00abc4;
    padding-top: 10px; }
    .tribe-events-loop .type-tribe_events.tribe-events-first {
      padding-top: 10px !important; }
  .tribe-events-loop .tribe-events-event-image figure {
    max-height: 250px;
    overflow: hidden; }
  .tribe-events-loop .tribe-events-event-image figcaption {
    display: none; }
  .tribe-events-loop .tribe-events-event-image img {
    width: 100%;
    height: auto; }
    .tribe-events-loop .tribe-events-event-image img:hover {
      opacity: .85; }

.recurringinfo {
  display: none !important; }

.tribe-event-date-start {
  padding-top: 10px; }

.tribe-events-list-event-title {
  margin: 2px 0 10px 0 !important;
  text-transform: none; }
  .tribe-events-list-event-title a {
    color: inherit; }

/* EVENTS DETAIL PAGE
------------------------- */
.event-summary-section {
  margin: 30px 0; }
  .event-summary-section .tribe-events-event-image {
    width: 45%;
    float: left;
    margin-right: 2.5%; }
    .event-summary-section .tribe-events-event-image a {
      display: inline-block;
      width: 100%; }
    .event-summary-section .tribe-events-event-image figure {
      width: 100%; }
    .event-summary-section .tribe-events-event-image figcaption {
      display: none; }
    .event-summary-section .tribe-events-event-image img {
      width: 100%;
      height: auto; }

.tribe-events-single-event-description {
  width: 50%;
  float: right; }

.tribe-events-cal-links {
  width: 50%;
  float: right;
  display: inline-block; }
  .tribe-events-cal-links .tribe-events-button {
    margin-right: 2.5%; }

.event-details-section {
  position: relative;
  margin-top: 0; }
  .event-details-section h2 {
    margin-bottom: 10px; }
  .event-details-section h3, .event-details-section .tribe-events-meta-group-details dt, .tribe-events-meta-group-details .event-details-section dt {
    font: 700 17px/1.4 "Roboto Condensed", sans-serif;
    text-transform: none; }
  .event-details-section .tribe-events-venue-details a {
    color: inherit;
    transition: color .2s; }
    .event-details-section .tribe-events-venue-details a:hover {
      color: #ed027e; }
  .event-details-section .tribe-events-venue-details .tribe-address {
    display: block; }
  .event-details-section .tribe-events-meta-group-venue dt {
    display: none; }
  .event-details-section .tribe-events-meta-group-venue a {
    color: #ed027e;
    border-bottom: 1px solid rgba(237, 2, 126, 0);
    transition: border-bottom-color .2s; }
    .event-details-section .tribe-events-meta-group-venue a:hover {
      border-bottom-color: #ed027e; }
  .event-details-section .tribe-venue-tel {
    margin-top: 10px; }

.tribe-address {
  font-style: normal; }

.tribe-events-event-meta {
  width: 30%;
  padding: 20px 2.5% 0 0; }
  .tribe-events-event-meta:first-child {
    border-top: none !important;
    margin-top: -75px; }

.tribe-events-meta-group-details {
  margin-bottom: 0; }
  .tribe-events-meta-group-details a {
    color: #ed027e;
    border-bottom: 1px solid rgba(237, 2, 126, 0);
    transition: border-bottom-color .2s; }
    .tribe-events-meta-group-details a:hover {
      border-bottom-color: #ed027e; }
  .tribe-events-meta-group-details dt {
    margin: 20px 0 0 0; }
  .tribe-events-meta-group-details dl {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0 0;
    margin-top: -100px;
    background: white; }

.tribe-events-meta-group-organizer {
  display: none; }

.tribe-events-venue-map {
  width: 65%;
  height: 300px;
  background: #aaa;
  float: right;
  position: absolute;
  right: 0;
  top: 0; }

/*  USER ACCOUNTS / LOGIN
------------------------- */
.user-login {
  text-align: center;
  padding-top: 60px;
  border-top-color: #ed027e; }
  .user-login h1 a, .user-login .edit-biz-details-form h2 a, .edit-biz-details-form .user-login h2 a {
    color: inherit; }
  .user-login .tml {
    margin: auto; }
    .user-login .tml input[type="text"],
    .user-login .tml input[type="password"] {
      height: 40px;
      padding: 10px; }
    .user-login .tml input[type="submit"] {
      display: block; }
    .user-login .tml .tml-rememberme-wrap {
      display: none; }
  .user-login .simplefavorite-button {
    display: none; }

/*   UTILITY
------------------------- */
.floatl {
  float: left;
  margin: 0;
  padding: 0 10px 10px 0; }

.floatr {
  float: right;
  margin: 0;
  padding: 0 0 10px 10px; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

::-moz-selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none; }

/*  PRINT
------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline; }

  #content a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }
  p, .tribe-events-sub-nav a, .event-details-section .tribe-events-venue-details, .event-details-section .tribe-event-schedule-details,
  .event-details-section .tribe-events-meta-group-venue,
  .event-details-section .tribe-events-event-cost, .tribe-events-meta-group-details,
  h2,
  h3,
  .tribe-events-meta-group-details dt {
    orphans: 3;
    widows: 3; }

  h2,
  h3,
  .tribe-events-meta-group-details dt {
    page-break-after: avoid; }

  #sidebar,
  #editToggle,
  .editThis,
  #navigation,
  #addthis,
  #search,
  #nav {
    display: none; }

  /* hide disqus since it is extraneous content that just increases page size */
  #disqus_thread {
    display: none; }

  a.dsq-brlink {
    display: none; }

  /* float blog entry images to decrease page length */
  #main {
    overflow: hidden; }

  #main img {
    float: left;
    clear: both;
    /*keeps images from piling up next to each other*/
    margin: 0 10px 10px 0; } }
/*  RESPONSIVE - TABLET
------------------------- */
/*  RESPONSIVE - MOBILE
------------------------- */
@media (max-width: 680px) {
  .splash .splash-bg {
    width: 100%;
    height: 30%;
    position: relative; }
  .splash .sidebar {
    width: 100%;
    height: auto;
    padding: 0;
    float: none; }
  .splash .slant-back {
    display: none; }
  .splash .logo {
    width: 25%;
    padding: 5% 5% 0 0;
    background: white;
    float: left; }
  .splash .intro {
    width: 60%;
    float: left; }
    .splash .intro h2 {
      font-size: 20px; }
  .splash .contact {
    clear: both; }
  .splash .contact,
  .splash .social,
  .splash .email-signup {
    text-align: center; }
  .splash .email-signup {
    padding-bottom: 0; }
  .splash #mc_embed_signup {
    padding: 10px 5%; }
  .splash .footer {
    position: relative;
    color: #4f4f4f;
    text-align: center;
    padding: 20px 0; }
    .splash .footer p, .splash .footer .tribe-events-sub-nav a, .tribe-events-sub-nav .splash .footer a, .splash .footer .event-details-section .tribe-events-venue-details, .event-details-section .splash .footer .tribe-events-venue-details, .splash .footer .event-details-section .tribe-event-schedule-details, .event-details-section .splash .footer .tribe-event-schedule-details,
    .splash .footer .event-details-section .tribe-events-meta-group-venue,
    .event-details-section .splash .footer .tribe-events-meta-group-venue,
    .splash .footer .event-details-section .tribe-events-event-cost,
    .event-details-section .splash .footer .tribe-events-event-cost, .splash .footer .tribe-events-meta-group-details {
      opacity: 1; } }
/*  CROSS-BROWSER
------------------------- */

/*# sourceMappingURL=styles.css.map */
